/* .root {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 720px;
    background: url("./img/1.jpg") no-repeat center fixed;
    background-size: cover;
    background-color: rgba(216, 216, 216, 0.2);
    position: relative;
} */
.khung_Profile {
    width: 960px;
    height: 545px;
    background-color: rgb(240 254 255 / 72%);
    margin-right: 15px;
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.imageLeft_Profile {
    width: 366px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.card_Profile {
    width: 594px;
    height: 100%;
    float: left;
}

.tab_Profile {
    flex-grow: 1;
    background-color: rgb(240 254 255 / 72%);
    height: 100%;
}

.link_Profile {
    text-decoration: none;
    color: #8b76db;
}

.link_Profile:hover {
    color: #8b76db;
}

.MuiTabPanel-root {
    padding: 0px;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: #8b76db !important;
}

.PrivateTabIndicator-colorPrimary-3 {
    background-color: #8b76db !important;
}
